.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

select {
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    font-family: 'Times New Roman', Times, serif;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
